# Windows image file caches
Thumbs.db
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
# jupyter notebook temp files
*.ipynb_checkpoints

# R temp files
.RHistory

# mass spectrum data
*.mzXML

# some current working files
/data/Exported_revised_peaklist
/data/PCA/feature.csv
/data/PCA/name.txt
